.plantrip {
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  position: relative;
  scroll-snap-type: y mandatory;
}

.plantrip__locations {
  width: 40%;
  position: absolute;
  z-index: 5;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 24px 0 rgba(255, 255, 255, 0.15);
  border-radius: 10px;
  top: 0;
  left: 0;
  margin: 7rem 3.5rem;
  border: 1px solid rgba(255, 255, 255, 0.15);
}

.plantrip__locations-controls {
  padding: 1.3rem;
  position: relative;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(4px);
  border-radius: 10px;
}

.plantrip__input {
  margin-left: 2rem;
}

.plantrip__input-stops {
  margin: 0.5rem 0;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.plantrip__map {
  width: 100vw;
  height: 100vh;
  scroll-snap-align: start;
}

.plantrip__geocoder-container {
  flex: 1;
}

.mapboxgl-ctrl-geocoder {
  border-radius: 1em;
  width: 100%;
}

.plantrip__geocoder {
  display: flex;
  align-items: center;
  padding-left: 2rem;
}

.plantrip__info {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  scroll-snap-align: start;
}

.plantrip__info-sidebar {
  width: 25%;
  height: 100%;
  background: #ffffff;
  padding-top: 5rem;
}

.plantrip__info-main {
  width: 75%;
  height: 100%;
  background: #efefef;
  padding: 5rem 1rem 0 3rem;
}

.plantrip__sidebar-item {
  transition: all 0.2s ease-in-out;
}

.plantrip__sidebar-item:hover {
  transform: translateX(0.5rem);
}

.plantrip__sidebar-item.active {
  transform: translateX(1rem);
}

.plantrip__sidebar-item p {
  margin: 0.5rem 1.3rem;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.mapboxgl-ctrl-geocoder--input:focus {
  outline: none;
}

.plantrip__info-hotelsContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  padding: 1rem;
}

.plantrip__info-hotels {
  width: 60%;
  height: 100%;
}

.plantrip__info-hotelQuery {
  width: 40%;
  height: 100%;
  background-color: white;
  margin: 1rem;
  border-radius: 0.5em;
  padding: 1rem;
}

.plantrip__info-hotelQuery--header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.3rem;
  padding: 0 1rem;
}

.plantrip__info-hotelQuery--queries {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 90%;
  padding: 1rem;
  padding-top: 0;
}

.plantrip__info-hotelQuery--header .btn {
  padding: 0.3rem 1.3rem;
}

.hotelQuery-heading {
  font-size: 1.3rem;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  flex: 1;
}

.plantrip__info-main .nav-item {
  width: 50%;
  text-align: center;
}

.tab-content {
  height: 90%;
}

.tab-pane {
  height: 100%;
}
